/*Color Palette*/

:root{
    --color-background: #4450d5;
    --color-link: #249e64;
    --color-btn: #34d186;
    
}
body{
    background-color: var(--color-background);
    

}

*, *::before, *::after{
    box-sizing: border-box;
}


/*Typography*/
html{
    scroll-behavior: smooth;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size:62.5%;
}
    h1{
        font-size: 2.2rem;
    }
    .line-break{
        display: none;
    }
    
    @media screen and (min-width:768px){
        h1{
            font-size:4.1rem;
        }
        .line-break{
            display: inline;
        }

        .tagline__linebreak--mobile{
            display: none;
        }
    }

    @media screen and (min-width:1024px){
        h1{
            font-size:5rem;
        }
    }

    li{
        text-decoration: none;
        list-style: none;
        margin-right: 25px;
    }
    
    
    
/*LOGOS*/
.companyLogo{
    width: 100px;
    height: 70px;
}
@media screen and (min-width:768px){
    .companyLogo{
        width: 85px;
        height: 60px;
    }
}

/*BUTTON*/
.btn{
    background-color: var(--color-btn);
    color: #fff;
    border: 0;
    border-radius: 20px;
    font-weight: 700;
    padding: 1.7rem 2.7rem;
    height: 30px;
    margin-top: 10px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*ICONS*/

.menuIcon{
    width: 33px;
    height: 23px;
}

/*NAVIGATION BAR*/
.navBar{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 0.2rem 0.5rem;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navBar .btn{
    margin-top: 20px;
    margin-left: 100px;
    

}
.navBar li{
    
    display: none;
    
}
.navBar .menuIcon{
    margin-top: 27px;
    margin-right:20px ;
}

@media screen and (min-width:768px){
    .navBar .menuIcon{
        display: none;
    }
    .navBar .btn{
        margin-top:12px;
    }
    .navBar li{
        display: block;
        font-size: 1.5rem;
        white-space: nowrap;
}
}

/**/
 .heading, .tagline{
    color: #fff;
}
.tagline{
    font-weight: 200;
}
 @media screen and (min-width:768px){
    .tagline{
        font-size: 1.4rem;
    }
 }